#container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#toc-pane {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#document-pane {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#graph-pane {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}
